body{
    margin: 0;
    width: 100%;
}
@font-face {
    font-family: metropolis;
    src: url("../font/metropolis.extra-bold.otf");
  }
  @font-face {
    font-family: metropolis2;
    src: url("../font/metropolis.thin.otf");
  }
  @font-face {
    font-family: metropolis3;
    src: url("../font/metropolis.semi-bold.otf");
  }
/*login */
  .login-container{
    display: flex;
    flex-direction: column;
    background-color: white;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.login-container .item-logo {
    width: 200px;
    margin: 100px 0 35px 0;
}

.login-container .item-logo .img-logo{
    margin: 0 8px 0 35px;
    height: 50px;
    width: 35px;
}

.login-container .item-logo .text-blanja {
    font-family: metropolis;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 20px;
    color: #DB3022;
    position: absolute;
    margin-top: 20px;    

}

.login-container .text-account{
margin-bottom: 55px;
}

.login-container .text-account .text {
    font-family: metropolis;
    font-style: normal;
    font-size: 16px;
    line-height: 18px;
    color: #222222;
}

.login-container .login-button{
    margin-bottom: 45px;
}

.login-container .login-button .btn1{
    background-color: #DB3022;
    box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.05);
    border-radius: 4px 0px 0px 4px;
    font-family: metropolis2;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
    padding: 12px 22px 12px 22px;
    border: 1px  #DB3022;
    float: left;
}
.login-container .login-button .btn2{  
    border: 1px  #9B9B9B;
    border-radius: 4px 0px 0px 4px;
    padding: 12px 35px 12px 35px;
    box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.05);
    font-family: metropolis2;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #9B9B9B;
}

.login-container .login-input {
    
}

.login-container .login-input .input-login{
    border: 1px solid #9B9B9B;
    width: 370px;
    height: 40px;
    border-radius: 5px;
    display: block;
}

.login-container .login-input .input-login::placeholder{
    font-family: metropolis2;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #9B9B9B;
    padding-left: 10px;
}


.login-container .login-input .forgot-password{
    font-family: metropolis2;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 15px;
    color: #DB3022;
    float: right;
    font-weight: bold;
}

.login-container .login-input .btn-primary{
    margin-top: 20px;
    width: 370px;
    border-radius: 25px;
    height: 45px;
    color: white;
    background-color:#DB3022 ;
    border: 1px  #DB3022;
    /* margin-left: 10px; */
}

.login-container .login-input .text-bottom{
    font-family: metropolis2;
    font-style: normal;
    font-weight: bold;
    color: #222222;
    font-size: 14px;
    line-height: 14px;
    margin: 35px 0px 0px 45px;
}

.login-container .login-input .text-register {
    color: #DB3022;
}

.login-container .login-input .register-link{
    text-decoration: none;
}




/* Register */


.register-container{
    display: flex;
    flex-direction: column;
    background-color: white;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}
/* .item {
    width: 200px;
    border: 1px solid;
    margin: 20px 0;
} */

.register-container .item-logo {
    width: 200px;
    margin: 100px 0 35px 0;
}

.register-container .item-logo .img-logo{
    margin: 0 8px 0 35px;
    height: 50px;
    width: 35px;
}

.register-container .item-logo .text-blanja {
    font-family: metropolis;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 20px;
    color: #DB3022;
    position: absolute;
    margin-top: 20px;    

}

.register-container .text-account{
margin-bottom: 55px;
}

.register-container .text-account .text {
    font-family: metropolis;
    font-style: normal;
    font-size: 16px;
    line-height: 18px;
    color: #222222;
}

.register-container .register-button{
    margin-bottom: 45px;
}

.register-container .register-button .btn1{
    background-color: #DB3022;
    box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.05);
    border-radius: 4px 0px 0px 4px;
    font-family: metropolis2;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
    padding: 12px 22px 12px 22px;
    border: 1px  #DB3022;
    float: left;
}
.register-container .register-button .btn2{  
    border: 1px  #9B9B9B;
    border-radius: 4px 0px 0px 4px;
    padding: 12px 35px 12px 35px;
    box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.05);
    font-family: metropolis2;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #9B9B9B;
}

.register-container .register-input {
    
}

.register-container .register-input .input-register{
    border: 1px solid #9B9B9B;
    width: 370px;
    height: 40px;
    border-radius: 5px;
    display: block;
}


.register-container .register-input .input-register::placeholder{
    font-family: metropolis2;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #9B9B9B;
    padding-left: 10px;
}


.register-container .register-input .forgot-password{
    font-family: metropolis2;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 15px;
    color: #DB3022;
    float: right;
    font-weight: bold;
}

.register-container .register-input .btn-primary{
    margin-top: 50px;
    width: 370px;
    border-radius: 25px;
    height: 45px;
    color: white;
    background-color:#DB3022 ;
    border: 1px  #DB3022;
    /* margin-left: 10px; */

}

.register-container .register-input .text-bottom{
    font-family: metropolis2;
    font-style: normal;
    font-weight: bold;
    color: #222222;
    font-size: 14px;
    line-height: 14px;
    margin: 35px 0px 0px 45px;
}

.register-container .register-input .text-register {
    color: #DB3022;
}

.register-container .register-input .register-link{
    text-decoration: none;
}

/* HOME */

.navbar{
    display: flex;
    padding: 0 100px 0 100px;
    width: 85%;
    height: 100px;
    align-items: center;
    box-shadow: 0px 6px 40px rgba(173, 173, 173, 0.25);
}

.navbar .brand img{
    width: 119px;
    height: 44px;
}

.navbar .search-wrapper{
    margin-left: 60px;
    display: flex;
}

.navbar .search-wrapper input {
    width: 507px;
    height: 40px;
    background: #FFFFFF;
    border: 1px solid #8E8E93;
    border-radius: 23px;
    padding: 0 20px;
    box-sizing: border-box;
}

.navbar .search-wrapper input:focus{
    outline: none;
}

.navbar .search-wrapper .input-wrapper{
    display: inline-block;
    position: relative;
}

.navbar .search-wrapper .input-wrapper img{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
}

.navbar .search-wrapper .filter{
    width: 40px;
    height: 40px;
    border-radius: 12px;
    border: 1px solid #8E8E93 ;
    background-color: #FFFFFF;
    margin-left: 11px;
}

.navbar .nav {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.navbar .nav .cart{
    margin-right: 40px;
}

.navbar .nav .btn {
    display: flex;
    width: 100px;
    height: 36px;
    border: 1px solid #9B9B9B;
    text-align: center;
    justify-content: center;
    margin-right: 20px;
    align-items: center;
    border-radius: 25px;
    color: #9b9b9b;
}

.navbar .nav a {
    text-decoration: none;    
}

.navbar .nav  .btn.first{
    border: 1px solid #DB3022;
    background-color: #DB3022;
    color: #FFFFFF;
    border-radius: 25px;
}

.slider{
    display: flex;
    height: 200px;
    margin-top: 47px;
    position: relative;
    justify-content: center;
    justify-items: center;

}

.slider .image{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;;
    z-index: 1;
}

.slider .image .img-2{
    margin: 0 30px;
}

.slider .image .img-2 img.image-2{
    border-radius: 5px;
}

.slider .image .img-1 img.image-1{
    border-radius: 5px;
}

.slider .button-slide{
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 200px;
}

.button-slide .left{
    position: absolute;
    left: 150px;
    top: 50%;
    transform: translateY(-50%);
}

.button-slide  .right{
    position: absolute;
    right: 150px;
    top: 50%;
    transform: translateY(-50%);
}

.button-slide .left img{
    width: 52px;
    height: 52px;
}

.button-slide .right img{
    width: 52px;
    height: 52px;

}

 .category-text{
    margin-top: 71px;
    padding: 0 100px;
    margin-bottom: 25px;
}
.category-text .text1{
    font-family: metropolis;
    font-style: normal;
    font-weight: bold;
    font-size: 34px;
    line-height: 34px;
    color: #222222;
}

.category-text .text2{
    color: #9B9B9B;
    font-family: metropolis2;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height-step: 12px;

}

.category{
    display: flex;
    position: relative;
    justify-items: center;
    width: 83%;
    height: 314px;
    padding: 0 100px;
    margin-bottom: 50px;
}

.category .item-container{
    display: flex;
    position: relative;
    flex-wrap: wrap;
    height: 314px;
    width: 100%;
    padding: 20px 40px;
    z-index: 1;
    background: #FFFFFF;
    box-shadow: 0px 0px 25px rgba(173, 173, 173, 0.25);
    border-radius: 8px;
}

.category .item-container .box{
    position: relative;
    height: 120px;
    width: 110px;
    margin: 20px 19px;
    border: 1px solid #9B9B9B;
    box-sizing: border-box;
    padding: 16px 25px 0 25px;
}

.category .item-container .box.box1 img{
    height: 60px;
    width: 60px;
    /* position: absolute;
    top: 16px;
    left: 16px; */
    
}

.category .item-container .box.box1 p{
    position: absolute;
    bottom: 0px;
    left: 25px;

}

.item-container .box .text-item{
    padding-left: 10px;
    font-family: metropolis2;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 14px;
    color: #222222;
}

.category .button-slider2{
    display: flex;
    position: absolute;
    width: 85%;
    height: 314px;
    z-index: 2;
   
}

.category .button-slider2 .btn-1{
    position: absolute;
    left: 0;
    top: 58%;
    transform: translateY(-50%);
}

.category .button-slider2 .btn-2{
    position: absolute;
    right: 0;
    top: 58%;
    transform: translateY(-50%);
}

.new-container{
    display: flex;
    padding: 0 100px;
    flex-wrap: wrap;
    width: 85%;
  
}

.new-container img.card-img{
    width: 208px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.new-container .card{
    margin-right: 20px;
    margin-bottom: 25px;
    width: 208px;
    height: 278px;
    background: #FFFFFF;
    box-shadow: 0px 0px 14px rgba(173, 173, 173, 0.25);
    border-radius: 8px;
}

.new-container .card .produk-name{
    width: 184px;
    height: 48px;
    padding: 10px 12px 6px 12px;
}
.new-container .card .produk-name .text-produk{
    font-family: metropolis3;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
}

.new-container .card .price{
    width: 52px;
    height: 16px;
    padding: 0px 144px 0px 12px;
}

.new-container .card .price .text-price{
    color: #DB3022;
    font-family: metropolis3;
    font-size: normal;
    font-weight: 500;
    font-size: 16px;
    line-height:16px;
}

.new-container .card .brand{
    width: 71px;
    height: 12px;
    padding: 0px 125px 11px 12px;
}

.new-container .card .brand .text-brand{
    font-family: metropolis3;
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
    color: #9B9B9B;
}

.new-container .card .star{
    padding: 0px 101px 20px 12px ;
}

.text-cart{
    padding: 0 100px;
    margin-top: 50px;
    margin-bottom: 30px;
   
}

.text-cart .text-bag{
    font-family: metropolis;
    font-style: normal;
    font-weight: bold;
    font-size: 34px;
    line-height-step: 34px;
    color: #222222;

}

.cart-container{
    display: flex;
    padding: 0 100px;
    width: 85%;
}

.cart-container .item-select{
    display: flex;
    padding: 0 21px ;
    width: 650px;
    height: 64px;
    align-items: center;
    background: #FFFFFF;
    box-shadow: 0px 0px 8px rgba(115, 115, 115, 0.25);
    border-radius: 4px;
    margin-bottom: 20px;
}

.cart-container .item-select .btn-cek{
 display: flex; 
 align-items: center;
}
.btn-ceklis{
   width: 20px;
   height: 20px;
   padding: 2px 4px 7px 1px;
   background-color: #DB3022;
   box-sizing: border-box;
   border-radius: 4px;
   border: 1px solid #DB3022;
   margin-right: 20px;
}
.cart-container .item-select .btn-cek .btn-ceklis:focus{
    outline: none;
}
.cart-container .item-select .btn-cek img{
    width: 15px;
    height: 12px;
}
.cart-container .item-select .btn-cek .text-1{
    font-family: metropolis3;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    color: #222222;
    padding-top: 3px ;
    margin-right: 5px;
}

.cart-container .item-select .btn-cek .text-2{
    color: #9b9b9b;
    font-family: metropolis3;
}

.cart-container .item-select .btn-cek .btn-delete{
background-color: #FFFFFF;
border: 1px solid #FFFFFF;
color: #DB3022;
font-family: metropolis;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 16px;
margin-left: 400px;

}
.cart-container .item-select .btn-cek .btn-delete:focus{
    outline: none;
}

.produk-cart{
    display: flex;
    width: 650px;
    height: 65px;
    align-items: center;
    background: #FFFFFF;
    box-shadow: 0px 0px 8px rgba(115, 115,  115, 0.25);
border-radius: 4px;
    padding: 32px 24px 25px 24px;
    margin-bottom: 10px;
}


.produk-cart .card-produk{
    display: flex;
    align-items: center;
    margin-right: 100px;
}
.produk-cart .img-produk{
    width: 70px;
    height: 69px;
    margin-right: 15px;
    
}
.produk-cart .img-produk img.img-p{
    border-radius: 8px;
}

.produk-cart .card-produk .ket-produk p{
    margin: 0;
}



.produk-cart .card-produk .ket-produk .text1{
    font-family: metropolis3;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
}

.produk-cart .card-produk .ket-produk .text-2{
    font-family: metropolis2;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 12px;
    columns: #9b9b9b;
}

.produk-cart .num-item{
    display: flex;
    align-items: center;
}

.produk-cart .price{
    display: flex;
    align-items: center;
}

.btn-bulat{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 1px solid #FFFFFF;
}

.num-item .btn-min button{
    padding: 9px 10px 17px 11px;
    background: #D5D5D5;
    
}
.num-item .btn-min{
    margin-right: 17px;
}

.produk-cart .num-item .num{
    margin-right: 17px;
}

.produk-cart .num-item .num .angka{
    font-family: Metropolis;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    color: #222222;
}

.num-item .btn-plus button{
    background-color: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(142, 142, 142, 0.25);
}

.num-item .btn-plus button:focus{
    outline: none;
}

.num-item .btn-min button:focus{
    outline: none;
}

.num-item .btn-plus{
    margin-right: 59px;
} 

.cart-container .conten-1{
    margin-right: 50px;
}

.cart-container .conten-2{
    width: 370px;
    height: 150px;
    background: #FFFFFF;
    box-shadow: 0px 0px 8px rgba(115, 115, 115, 0.25);
    border-radius: 4px;
    padding: 24px;
}
.conten-2 .text-shop{
    margin-bottom: 30px;
}

.conten-2 .text-shop .text-sum{
    font-family: Metropolis;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 16px;
    color: #222222; 
}
.conten-2 .t-price{
    margin-bottom: 34px;
}
.conten-2 .t-price .text-p{
    font-family: metropolis2;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    color: #9b9b9b;
    margin-right: 180px;
}

.conten-2 .t-price .text-price{
    font-family: Metropolis;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 18px;
    color: #222222;
}

.conten-2 .btn-buy{

}

.conten-2 .btn-buy button{
    width: 100%;
    height: 36px;
    background: #DB3022;
    box-shadow: 0px 4px 8px rgba(211, 38, 38, 0.25);
    border-radius: 25px;
    color: white;
    font-family: metropolis2;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    border: 1px solid;
}

.conten-2 .btn-buy button:focus{
    outline: none;
}





